@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap&subset=latin-ext');


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightpink;
  font-size: 24px;
}

.list_item {
  list-style-type: none;
  display: inline;
  font-size: 20px;
  word-spacing: 5px;
}
.link:hover {
  color: hotpink;
}
.link:visited {
  color: gray;
}

.grid {
  display: grid;
  grid-template-areas: 
   "header header header"
   "content content1 content2"
   "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 3%;
  background-color: lightpink;
}

.main_header {
  font-size: 32px;
  color: green;
  grid-area: header;
  text-align: center;
  font-family: Kaushan Script;
}

.side_header {
  text-transform: uppercase;
  color: brown;
  text-align: center;
  &::before {
    content: '-';
    color: brown;
  }
  &::after {
    content: '-';
    color: brown;
  }
}

.article {
  font-family: Kaushan Script;
  grid-area: content;
  text-align: center
}

.article2 {
  grid-area: content1;
  text-align: center;
  color: aqua;
}

.article3 {
  grid-area: content2;
  text-align: center;
}

.paragraph {
  font-size: 20px;
}

.footer {
  grid-area: footer;
}

.image {
  width: 40%;
  height: 100%;
  padding: 30px;
  display: flexbox;
  justify-content: space-between;
  align-items: stretch;
}

@media (max-width: 450px) {
  .main_header {
      font-size: 16px;
  }
  .grid {
      grid-template-columns: 1fr;
      grid-template-areas: 
      "header"
      "content"
      "content1"
      "content2"
      "footer";
  }
  .navigation {
      display: none;
      border: 1px dotted blue;
  }
  .navigation_list--visible {
      display: block;
  }
  .list_item {
      display: flexbox;
      flex-direction: column;
  }
}
@media (min-width: 451px) {
  .hamburger {
      display: none;
  }
  .navigation_list {
    display: flexbox;
    flex-direction: column;
  }
}

.paragraph2 {
  font-size: 20px;
  text-align: center;
  color: blueviolet;
  font-weight: bold;
}
.legend {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
.border:focus {
  border: 3px black solid;
}